.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
}

.container>div{
    margin-top: 2rem;
}

.label{
    font-weight: bold;
    font-size: 1.2rem;
}


.input1{
    color:white;
    font:inherit;
    margin-top: 12rem;
    display: block;
    background-color: transparent;
    outline: none;
    border:1px solid rgb(94,93,93);
    font-size: 300;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    resize: none;
}

.saveButton{
    width: 100%;
    align-self: flex-end;
    margin-top: 1.5rem;
    background: var(--orange-gradient);
    border: none;
    padding: 10px;
    color: white;
    cursor:pointer;
    border-radius: 8px;
}

.saveButton:disabled{
    background: grey;
}

